@font-face {
    font-family: 'normal';
    src: url(font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}
body{
    line-break: strict;
    font-family: 'normal';
    font-size: 14px; 
    line-height: 1.43;
    color: rgb(34, 34, 34);
    display: block;
    background-color:#fff;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    font-synthesis: none;
}
.full_body{
    min-height: 100dvh;
    position: relative;
}
.headersection{
    background: #FFFF;
    z-index: 10;
    position: sticky;
    top: 0;
}
.start_sec{
    z-index: 1;
    position: relative;
}
.sec_mrg{
    margin-top: 12px;
    margin-inline: 16px;
    grid-template-columns: minmax(0, 1fr);
    align-items: center;
    display: grid;
    position: relative;
    box-sizing: border-box;
}
.str_box{
    padding-inline: 12px;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    background: #FFF;
    align-items: stretch;
    will-change: margin-inline-end;
    contain: layout style;
    color: #222222;
    display: grid;
    height: 54.4px;
}
.str_btn{
    padding-inline: 4px;
    border-radius: 1000px;
    transition: none;
    text-align: inherit;
    font-size: inherit;
    line-height: inherit;
    align-items: center;
    font-family: inherit;
    background: transparent;
    font-weight: inherit;
    border: none;
    margin: 0;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    gap: 8px;
    max-width: 100%;
    letter-spacing: normal;
    color: inherit;
    height: 100%;
    text-decoration: none;
    outline: none;
    display: flex;
    position: relative;
}
.str_search{
    place-items: center;
    display: grid;
}
.str_search img{
    display: block;
    height: 12px;
    width: 12px;
    fill: currentColor;
}
.str_txt{
    padding-left: 2px;
    text-align: center;
    place-content: center;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    letter-spacing: normal;
    user-select: none;
    font: inherit;
}
.str_text{
    line-height: 1.125rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: normal;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    user-select: none;
}
.home{
    box-shadow:rgba(0, 0, 0, 0.08) 0px 2px 12px 0px;
    background: #fff;
    clip-path: inset(0 0 -12px 0);
    z-index: 9;
    position: sticky;
    top: 18px;
    box-sizing: border-box;
}
.home_padd{
    padding: 16px 48px 0px 48px;
    align-items: baseline;
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.home_bottomrg{
    margin-bottom: 8px;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    min-width: 68px;
    outline: none;
    display: flex;
    user-select: none;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    font-size: 100%;
    font: inherit;
}
.home_img{
    opacity: 1;
    transform: none;
    flex-direction: column;
    display: flex;
}
.img_mrg{
    transform-origin: center bottom;
    transform: scale(1.33);
    margin-bottom: 6px;
    margin-top: 4px;
    position: relative;
}
.img_mrgin{
    transform-origin: center bottom;
    transform: none;
    margin-bottom: 6px;
    margin-top: 8px;
    position: relative;
}
.mrg{
    height: 36px;
    width: 36px;
    display: block;
}
.mrg video{
    transform: scale(2);
    left: 0;
    object-position: center;
    object-fit: contain;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    pointer-events: none;
    opacity: 1;
}
.homes{
    transform: none;
    position: relative;
}
.home_txt{
    line-height: 0.625rem;
    font-size: 0.75rem;
    transform-origin: top;
    font-weight: 600;
    text-wrap: nowrap;
    letter-spacing: -0.01em;
    color: #6A6A6A;
    display: block;
    position: sticky;
    /* margin-top: -0.05px; */
}
.home_txt1{
    /* margin-top: -0.05px; */
    line-height: 0.625rem;
    font-size: 0.75rem;
    transform-origin: top;
    text-wrap: nowrap;
    letter-spacing: -0.01em;
    color: #6A6A6A;
    display: block;
}
.new{
    padding: 3px 6px;
    font-size: 0.5rem;
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg, #3e567c 1.59%, #3a5475 21.23%, #2d3c5b 58.6%, #809dc0 97.4%);
    border-radius: 10px 10px 10px 2px;
    transform-origin: bottom left;
    left: 100%;
    top: -5px;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
}
.new_txt{
    background-clip: text;
    background: radial-gradient(50% 50% at 50% 50%, #fff8df 0%, rgba(255, 254, 224, 0.2) 51.5%, rgba(255, 250, 225, 0) 100%);
    line-height: 0.625rem;
    font-weight: 700;
    text-align: center;
    text-wrap: nowrap;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
    position: relative;
    font-size: 0.5rem;
    background: transparent;
}
.border{
    left: 0;
    bottom: 0;
    position: absolute;
}
.brdr1{
    transform: translate(62.2px);
    border-top-left-radius: 1.5px;
    background-color: #222222;
    animation: none;
    transition: transform 300ms cubic-bezier(0.2,0,0,1);
    transform-origin: left;
    left: 0;
    width: 3px;
    height: 3px;
    bottom: 0;
    position: absolute;
}
.brdr2{
    transform: translateX(65.2px) scaleX(3.36);
    background-color: #222222;
    animation: none;
    transition: transform 300ms cubic-bezier(0.2,0,0,1);
    transform-origin: left;
    left: 0;
    height: 3px;
    width: 10px;
    bottom: 0;
    position: absolute;
}
.brdr3{
    transform: translateX(98.8px);
    border-top-left-radius: 1.5px;
    background-color: #222222;
    animation: none;
    transition: transform 300ms cubic-bezier(0.2,0,0,1);
    transform-origin: left;
    left: 0;
    width: 3px;
    height: 3px;
    bottom: 0;
    position: absolute;
}
.break{
    justify-content: center;
    width: 100%;
    z-index: 1;
    display: flex;
    position: fixed;
}
.content{
    margin-bottom: 49px;
    box-sizing: border-box;
}
.box1_mrg{
    font-size: 14px;
    grid-template-rows: 62px 186.562px 0px;
    grid-template-columns: 320px;
    grid-template-areas: 
        "header"
        "scroller" 
        "footer";
    display: grid;
    box-sizing: border-box;
}
.heading{
    place-self: auto;
}
.heading_mrg{
    margin: 24px 16px 14px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.head1{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: unset !important;
    font-weight: unset !important;
}
.head2{
    transition:none;
    border-radius:8px;
    text-align:inherit;
    font-size:inherit;
    line-height:inherit;
    font-weight:inherit;
    font-family:inherit;
    border:none;
    margin:0;
    cursor:pointer;
    background:transparent;
    padding:0;
    color:inherit;
    display: block;
    height:100%;
    width:100%;
    text-decoration:none;
    outline:none;
    touch-action: manipulation;
    position:relative;
    font:inherit;
}
.head3{
    padding-inline-end: 12px;
    font-weight:600;
    line-height:1.5rem;
    font-size:1.125rem;
    align-items:baseline;
    text-wrap:pretty;
    letter-spacing: -0.01125rem;
    display:inline-block;
}
.arrow{
    margin-inline-start: -1.2px;
    display: inline-block;
    box-sizing:border-box;
}
.pic{
    aspect-ratio: auto;
    margin-block: 0px;
    margin-inline: 0px;
    padding: 0px;
    /* grid-area: scroll; */
    scrollbar-width: none;
    overflow: scroll;
    box-sizing: border-box;
}
.pic_mrg{
    column-gap: 11px;
    display: grid;
    scroll-snap-type: inline mandatory;
    grid-template-areas: none;
    grid-template-rows: none;
    justify-content: flex-start;
    margin: 0;
    padding-inline: 16px;
    touch-action: manipulation;
    grid-auto-columns :calc(50% - 5.5px);
    grid-auto-flow: column;
    margin: 0;
    touch-action: manipulation;
    scroll-padding-inline: 16px;
    overscroll-behavior-inline: contain;
    row-gap: 11px;
    contain: none;
    content-visibility: visible;
}
.box1{
    scroll-snap-stop: normal;
    scroll-snap-align: start;
    box-sizing: border-box;
}
.box11{
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: none;
    max-width: none;
    min-width: 0px;
    position: relative;
    width: 100%;
}
.pic_div{
    flex-direction: column;
    gap: 8px;
    display: flex;
}
.pic_top{
    background-color: #DDDDDD;
    border-radius:20px;
    box-shadow:0px 0px 0px 1px rgba(0,0,0,0.02),0px 8px 24px 0px rgba(0,0,0,0.10);
    overflow: clip;
    pointer-events: none;
    z-index: 0;
    position: relative;
}
.pic_top1{
    aspect-ratio: 20/19;
    position:unset;
    min-width:0;
    height:100%;
}
.img_only{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height:1px;
    width:100%;
    height:100%;
    vertical-align: bottom;
    display: inline-block;
}
.img_only img{
    position: static;
    width:100%;
    height:100%;
    vertical-align: bottom;
    object-position: center ;
    object-fit: cover;
    display: inline-block;
}
.img_cont{
    grid-template-rows: repeat(3,minmax(0,1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
        'top-row top-row top-row'
        'middle-row middle-row middle-row'
        'bottom-row bottom-row bottom-row';
    padding: 12px 12px 0px ;
    right:0;
    left:0;
    top:0;
    bottom:0;
    position:absolute;
    overflow: hidden;
    pointer-events: none;
    display: grid;
}
.img_top{
    grid-template-columns: repeat(2, minmax(min-content, auto));
    grid-area: top-row;
    grid-column-gap:8px;
    display: grid;
    justify-self: flex-start;
}
.guest{
    background-color:rgba(255, 255, 255, 0.8); 
    background-clip: border-box;
    padding-inline: 9.5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    box-shadow:0px 0px 0px 1px rgba(0,0,0,0.02),0px 2px 6px 0px rgba(0,0,0,0.04),0px 4px 8px 0px rgba(0,0,0,0.10);
    font-weight:600;
    align-items:center;
    padding-block: 5.5px;
    backdrop-filter:blur(32px);
    font-feature-settings: 'salt';
    height:fit-content;
    max-width:100%;
    display: inline-flex;
    color:#222222;
}
.img_guest{
    line-height: 0.8125rem;
    font-size: 0.6875rem;
    overflow: clip;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    text-overflow: ellipsis;
}
.like{
    justify-self: flex-end;
    display: flex;
    margin:-4px -4px 0 0;
    align-items: center;
    justify-content: center;
    width:32px;
    height:32px;
    pointer-events: auto;
    display: flex;
}
.like_btn{
    transition:none;
    background-color: transparent;
    padding: 4px 0 0;
    line-height: 1.25rem;
    font-size: 1rem;
    align-items: center;
    border: none;
    border-radius: 50%;
    justify-content: center;
    width:40px;
    height:40px;
    display: inline-block;
    color: #222222;
    outline: none;
    cursor: pointer;
    font:inherit;
}
.pic_middle{
    justify-self: flex-start;
    grid-template-columns: repeat(2,minmax(min-content, auto));
    align-items: center;
    margin-block-end: 12px;
    grid-area: middle-row;
}
.pic_bottom{
    justify-self: center;
}
.pic_txt{
    grid-template-columns: (minmax(0,1fr), minmax(0, 1fr) max-content);
    gap:2px;
    display: grid;
}
.apartment{
    line-height:1rem !important;
    font-size:0.8125rem;
    text-wrap:pretty;
    overflow:clip;
    font-weight:500;
    line-height:inherit;
    text-overflow: ellipsis;
    color:#222222;
}
.info{
    line-height: 0.8125rem;
    font-size:0.6875rem;
    flex-wrap:wrap;
    color:#6A6A6A;
    display: flex;
}
.info1{
    display: inline-block;
    flex-direction: row;
    align-items: baseline;
    display: flex;
    position:relative;
}
.infotxt{
    line-height:0.8125rem;
    font-size:0.6875rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    color:#6A6A6A;
    display: flex;
}
/* .txtcolor{
    font-weight:400;
    text-decoration: none;
    color:#6A6A6A; 
} */
.space{
    color:#c1c1c1;
}
.space1{
    padding:0;
    border:0;
    width:1px;
    white-space: nowrap;
    position: absolute;
    overflow: clip;
    height:1px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}
.rating{
    column-gap: 2.5px;
    align-items: center;
    display: inline-flex;
}
.rating img{
    display: block;
    width:8px;
    height:8px;
    fill:currentcolor;
}